<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unicrom">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.Boleto"
            android:exported="false" />
        <activity
            android:name=".activity.DadosPessoais"
            android:exported="false" />
        <activity
            android:name=".activity.UpdateSenha"
            android:exported="false" />
        <activity
            android:name=".activity.Video"
            android:exported="false" />
        <activity
            android:name=".activity.User"
            android:exported="false" />
        <activity
            android:name=".activity.Search"
            android:exported="false" />
        <activity
            android:name=".activity.Home"
            android:exported="false" />
        <activity
            android:name=".activity.First"
            android:exported="false" />
        <activity
            android:name=".activity.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>